
.cabeçalho{
    background-image: url(/img/hd.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url(/img/hd.jpg); 
color: #F4CD00;
align-items: center;
background-color: rgb(56, 55, 55);
width: 1200px;
height:200px;

}
.scrita{
position: absolute;
left: 0;
}
.que{
background-color: rgb(30, 28, 28);
color: white;
height: 450px;
}
.que h3{
text-align: left;
}
.disco1{
position: absolute;
right:0;
height: 350px;
}
a{
color: white;
height:60px ;
width:50px ;
}
.i{color: #F4CD00;}
.recepição{
    color: #F4CD00;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 28, 28);
}
.joel{
    color: white;
background-color: rgb(30, 28, 28);
display: flex;

}
.saga{
color: white;
background-color: rgb(30, 28, 28); 
}
.Joel{
width:80px ;

}
.formulario-campo{
    justify-content: center;
align-items: center;
text-align: center;
display: flex;
flex:1;
gap: 16px;
width: 70%;
}
.formulario-campo label{
align-items: center;
text-align: center;
font-family:Arial, Helvetica, sans-serif;
font-weight:400; 
color: #F4CD00;

}
.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
align-items: center; 
text-align: center;
width: 300px;
justify-self:flex-end;
}
.fale {
color: #F4CD00;
}
.inf{
color: rgb(255, 255, 255);
}
.butam{
color:#F4CD00
}
.contato{
background-color: black;
}
.principal{
background-color: black;
}
.parte1{
height: 80px;
width: 50px;
}
.parte2{
height: 80px;
width: 50px;
}
