.img1{
  background-image: url(/img/the\ last\ of\ us\ psrt1\ img.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url(/img/the\ last\ of\ us\ psrt1\ img.jpg); 
}